{
    "presets": [
      ["@babel/preset-env", { "modules": false }],
      "@babel/preset-react"
    ],
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }, "forgo-plugin-proposal-decorators"],
      ["@babel/plugin-proposal-function-sent", {},"forgo-plugin-proposal-function-sent"],
      ["@babel/plugin-proposal-export-namespace-from", {},"forgo-plugin-proposal-export-namespace-from"],
      ["@babel/plugin-proposal-numeric-separator", {},"forgo-plugin-proposal-numeric-separator"],
      ["@babel/plugin-proposal-throw-expressions", {},"forgo-plugin-proposal-throw-expressions"],
      ["@babel/plugin-syntax-dynamic-import", {},"forgo-plugin-syntax-dynamic-import"],
      ["@babel/plugin-syntax-import-meta", {},"forgo-plugin-syntax-import-meta"],
      ["@babel/plugin-proposal-class-properties", { "loose": false }, "forgo-plugin-proposal-class-properties"],
      ["@babel/plugin-proposal-json-strings", {},"forgo-plugin-proposal-json-strings"]
    ]
}
